branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
Django==2.2
folium==0.12.1.post1
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.1.0
numpy==1.21.5
opencv-python==4.5.5.62
opencv-python-headless==4.5.5.62
pytz==2021.3
requests==2.27.1
sqlparse==0.4.2
urllib3==1.26.8
boto3==1.21.10
torch==1.9.0
torchvision=0.10.0
mxnet==1.8.0
gluoncv==0.10.4
