{% load static %}
<!DOCTYPE html>

<head>
    <title>Dashboard - PatrolBot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function downloadLogs(filename, entireText) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(entireText));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        function outputActionLogs() {
            $.ajax({
                url: "{% url 'logdata' %}",
                success: function(data) {
                    downloadLogs("ACTIONLOGS-" + data.time_of_request + ".txt", data.action_logs)
                },
                error: function(data) {
                    alert("Unable to output logs. Please try again later.")
                },
            })
        }

        function outputSecurityLogs() {
            $.ajax({
                url: "{% url 'logdata' %}",
                success: function(data) {
                    downloadLogs("SECURITYLOGS-" + data.time_of_request + ".txt", data.security_logs)
                },
                error: function(data) {
                    alert("Unable to output logs. Please try again later.")
                },
            })
        }

    </script>
</head>

<div class="dash-sidenav">
    <div class="dash-sidenav-content">
        <p>PatrolBot</p>
        <a href="./"><i class="fa fa-fw fa-home"></i><span>Dashboard Overview</span></a>
        <a href="recordings"><i class="fa fa-fw fa-video-camera"></i><span>Recordings</span></a>
        <a href="robot"><i class="fa fa-fw fa-cogs"></i><span>Robot</span></a>
        <a href="settings"><i class="fa fa-fw fa-wrench"></i><span>Settings</span></a>
    </div>
</div>

{% comment %} Page content {% endcomment %}

<body class="dash-main">
    <header>
        <div class="dash-logout">
            <a href="/accounts/logout" class="button dash-logout">Logout</a>
        </div>
        <h1><span>PatrolBot Dashboard</span></h1>
    </header>
    <div class="main-content-robomode">
        <h2>Current Traversal Mode:<span style="color:rgb(72, 172, 72);"> Manual</span>
            <span style="color:rgb(243, 112, 112);"> Auto</span>
        </h2>
        <div>
            <button type="button" onclick="location.href='robot_manual';" class="button mode-buttons">
                <i class="fa fa-fw fa-play"></i>
                <span>Enter Manual Mode</span>
        </div>
    </div>
    <div class="main-content-camera">
        <h2>Robot Camera Feed</h2>
        <div>
            <button type="button" onclick="alert('In Progress...')" class="button feed-buttons">Start camera</a>
                <button type="button" onclick="alert('In Progress...')" class="button feed-buttons">Stop camera</a>
                    <button type="button" onclick="outputSecurityLogs()"
                        class="button logs-buttons">View potential security alert logs</a>
                        <button type="button" onclick="outputActionLogs()"
                            class="button logs-buttons">View Action logs</button>
        </div>
        <div class="camera-content-contain">
            <div class="main-content-camera-feed">
                <div class="camera-feed-child">
                    <h4>Camera Feed</h4>
                    {% comment %} <img src="{% url 'phone_feed' %}" alt="No Video Feed"
                        onerror=this.src="{% static 'img/no_video_feed.jpg' %}" width="100%" height="100%"
                        allowfullscreen></iframe> {% endcomment %}
                    <img src="{% url 'kinesis_stream' %}" alt="No Video Feed"
                     width="100%" height="100%"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content-maps">
        <h2>GPS Location</h2>
        <div class="gps-map">
            {{m|safe}}
        </div>
    </div>
</body>