{% load static %}
<!DOCTYPE html>

<head>
    <title>Dashboard - PatrolBot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="dash-sidenav">
    <div class="dash-sidenav-content">
        <a href="./"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#robo-config"><i class="fa fa-fw fa-cogs"></i> Robot</a>
        <a href="#settings"><i class="fa fa-fw fa-wrench"></i> Settings</a>
    </div>
</div>

{% comment %} Page content {% endcomment %}
<body class="dash-main">
    <header>
        <div class="dash-logout">
            <a href="/accounts/logout" class="button dash-logout">Logout</a>
        </div>
        <h1><span>Welcome to the Patrol Bot Dashboard</span></h1>
    </header>
    <div class="main-content">
        <div class="main-content-camera">
            <h2>Robot Camera Feed</h2>
            <div>
                <button type="button" onclick="alert('In Progress...')" class="button camera-buttons">Start Camera</a>
                <button type="button" onclick="alert('In Progress...')" class="button camera-buttons">Stop Camera</a>
            </div>
        </div>
        <div class="main-context-logs">
            <h2>Context Logs</h2>
            <div>
                <button type="button" onclick="alert('In Progress...')" class="button log-buttons">Save Log File</a>
                <button type="button" onclick="alert('In Progress...')" class="button log-buttons">Save Alert File</a>
            </div>
        </div>
    </div>
    <div class="main-content-maps">
        <h2>Robot Maps</h2>
        <div class="map-container">
            <div class="map-container-map">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <footer>
        <p class="dash-footer-text">
            A Robotic Test Execution Framework built by
                Team 8: PatrolBot for CS 426 Senior Project in Computer Science, Spring 2022, at UNR, CSE Department
        </p>
    </footer>
</body>