{% load static %}
<!DOCTYPE html>

<head>
    <title>Dashboard Robot - PatrolBot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="dash-sidenav">
    <div class="dash-sidenav-content">
        <p>PatrolBot</p>
        <a href="../"><i class="fa fa-fw fa-home"></i><span>Dashboard Overview</span></a>
        <a href="../recordings"><i class="fa fa-fw fa-video-camera"></i><span>Recordings</span></a>
        <a href="./"><i class="fa fa-fw fa-cogs"></i><span>Robot</span></a>
        <a href="../settings"><i class="fa fa-fw fa-wrench"></i><span>Settings</span></a>
    </div>
</div>

<body class="dash-main">
    <header>
        <div class="dash-logout">
            <a href="/accounts/logout" class="button dash-logout">Logout</a>
        </div>
        <h1><span>Robot Configuration</span></h1>
    </header>
    <div class="robot-main-container">
        <h2>Robot Configuration</h2>
        <div class="robot-config-container">
            <p>Status: <span id="robot-status">{{ robot.status }}</span></p>
            <p>Battery: <span id="battery-level">{{ robot.battery_level }}</span>%</p>
            <p>Mode: <span id="robot-mode">{{ robot.mode }}</span></p>
            <p>Last pinged at: <span id="last-pinged">{{ robot.last_pinged }}</span></p>
        </div>
        <h2>Robot Anatomy</h2>
        <div class="robot-anatomy-container">
            <p>Camera: <span id="robot-camera">{{ robot.camera }}</span></p>
            <p>Charmast: <span id="robot-charmast">{{ robot.charmast }}</span></p>
            <p>Motor driver: <span id="robot-driver">{{ robot.driver }}</span></p>
            <p>Chasis: <span id="robot-chasis">{{ robot.chasis }}</span></p>
        </div>
    </div>
</body>