{% load static %}
<!DOCTYPE html>

<head>
    <title>Welcome</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/welcome.css' %}">
</head>

<body class="wc-body">
    <div class="wc-main-container">
        <header class="wc-login-container">
            <a href="#" class="button wc-login-bttn">Login</a>
        </header>
        <div class="wc-main-sheet">
            <div>
                <h1 class="wc-main-text">Welcome to the PatrolBot Dashboard.</h1>
            </div>
            <div>
                <a href="https://banuelos-brandon.github.io/banuelos-brandon/" target="_blank" class="button2 wc-login-bttn2">Learn More About the Project</a>
            </div>
        </div>
    </div>
    <footer>
        <p class="wc-footer-text">
            A Robotic Test Execution Framework built by
                Team 8: PatrolBot for CS 426 Senior Project in Computer Science, Spring 2022, at UNR, CSE Department
        </p>
    </footer>
</body>