{% load static %}
<!DOCTYPE html>

<head>
    <title>PatrolBot - Welcome</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/welcome.css' %}">
</head>

<body class="wc-body">
    <header class="wc-login-container">
        <a href="/accounts/login" class="button wc-login-bttn">Login</a>
    </header>
    <div class="wc-main-sheet">
        <h1 class="wc-main-text">Welcome to the <span>PatrolBot</span> Dashboard</h1>
        <h2>The next generation admiration to robotic security against bike theives.</h2>
        <a href="https://banuelos-brandon.github.io/banuelos-brandon/" target="_blank" class="button wc-login-bttn">Learn more about the project</a>
    </div>
</body>