/* BASE RULES
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

:root {
    --side-nav-size: 150px;
    --font-color-sidenav: #5a5a5a;
    --font-color-dash: #ffffff;
    --dash-font: "Roboto";
    --container-background-color: #242e42;
    --container-main-background-color: #252525; 
    --contianer-border-color: #2e2e2e;
    --header-background-color: #181818;
    --page-content-boxShadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --page-content-bgColor: #f0f1f6;

    --page-content-bgColor-dark: #18191A;
    --page-content-blockColor-dark: #242526;
    --page-content-txtColor-dark: #fff;
    --page-content-txtColor-dark: #fff;
    --page-content-boxShadow-dark: 0;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h3 {
    color: var(--container-background-color);
}

button {
    background-color: white;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

/* The sidebar menu 
---------------------------------------------------*/
.dash-sidenav {
    width: var(--side-nav-size);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--container-background-color);
    overflow-x: hidden;
    padding-top: 70px;
}

.dash-sidenav-content {
    text-align: left;
}

.dash-sidenav p {
    padding: 6px 8px 6px 16px;
    /* text-decoration: none; */
    font-size: 20px;
    display: block;
    color: #cacaca;
}

/* The navigation menu links */
.dash-sidenav a {
    padding: 10px 10px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #727272;
    display: block;
}

.dash-sidenav a span{
    padding-left: 10px;
}

/* When you mouse over the navigation links, change their colo */
.dash-sidenav a:hover {
    color: #adadad;
}

/* On smaller screens, where the height is less than 450px, change the style
of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .dash-sidenav {padding-top: 15px;}
    .dash-sidenav a {font-size: 18px;}
}

/* HEADER
---------------------------------------------------*/

header {
    margin-left: var(--side-nav-size);
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

header a {
    float: right;
}

/* BUTTONS
--------------------------------------------------- */

.button {
    background-color: #242e42;
    border: none;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 4px;
    border-radius: 10px;
    margin-right: 30px;
}

.button:hover {
    background-color: #242e42da;
    cursor: pointer;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

/* BUTTONS - DARK
--------------------------------------------------- */

.button-dark {
    background-color: var(--page-content-blockColor-dark);
    border: none;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 4px;
    border-radius: 10px;
    margin-right: 30px;
}

.button-dark:hover {
    background-color: #3A3B3C;
    cursor: pointer;
    text-decoration: none;
    color: rgb(206, 206, 206);
}

.dropdown-dark {
    background-color: var(--page-content-blockColor-dark);
}

.dropdown-dark:hover {
    color: white !important;
}

/* PAGE CONTENT - LIGHT THEME
 ---------------------------------------------------*/
 .page-content {
    position: relative;
    left: var(--side-nav-size);
    width: calc(100% - var(--side-nav-size));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
}

.page-content .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.page-content .grid > article {
    display: flex;
    height: 600px;
    background: var(--page-content-blockColor);
    border-radius: 8px;
    box-shadow: var(--page-content-boxShadow);
}

.page-content .grid > article h1 {
    margin: 10px;
    display: inline-block;
    position: absolute;
}

.page-content .grid > article h3 {
    margin: 10px;
    display: inline-block;
}

.page-content .grid > article:first-child {
    grid-column: span 2;
    margin-top: 50px;
    height: 50px;
}

.page-content .grid .home-joystick-container {
    grid-column: span 1;
    height: 50px;
}

.refresh-icon {
    color: #242e42; 
}

/* PAGE CONTENT - DARK THEME
 ---------------------------------------------------*/
 .page-content-dark {
    position: relative;
    left: var(--side-nav-size);
    width: calc(100% - var(--side-nav-size));
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor-dark);
    background: var(--page-content-bgColor-dark);
}

.page-content-dark .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.page-content-dark .grid > article {
    display: flex;
    height: 600px;
    background: var(--page-content-blockColor-dark);
    border-radius: 8px;
    box-shadow: var(--page-content-boxShadow-dark);
}

.page-content-dark .grid > article h1 {
    margin: 10px;
    display: inline-block;
    position: absolute;
}

.page-content-dark .grid > article h3 {
    margin: 10px;
    display: inline-block;
}

.page-content-dark .grid > article:first-child {
    grid-column: span 2;
    margin-top: 50px;
    height: 50px;
}

.page-content-dark .grid .home-joystick-container {
    grid-column: span 1;
    height: 50px;
}

.refresh-icon-dark {
    color: #E4E6EB; 
}

/* SETTINGS TABLES
 ---------------------------------------------------*/

.settings-tables {
    padding: 0;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 100px;
}

/* EMAIL PREFERENCES
 ---------------------------------------------------*/

.email-preferences-option {
    color: black;
    font-weight: 500;
}

.email-preferences-option label {
    padding: 12px;
}

.email-preferences-option input {
    padding: 5px;
    width: 340px;
}

/* RECORDINGS TABLES
 ---------------------------------------------------*/
.recordings-table-container {
    grid-column: span 2;
}

.recordings-table-container table {
    padding: 0;
    text-align: center;
    margin: auto;
}

/* GPS MAP
--------------------------------------------------- */

.gps-map {
    padding: 0;
    display: block;
    margin: auto;
    margin-top: 60px;
    border: 2px #f0f1f6 solid;
    text-align: center;
    width: 85%;
    height: 500px;
}

/* VIDEO FEED IMG 
---------------------------------------------------*/

.page-content-camera-child {
    padding: 0;
    display: block;
    margin: auto;
    margin-top: 60px;
    width: 85%;
}