:root {
    --side-nav-size: 150px;
    --font-color-sidenav: #5a5a5a;
    --font-color-dash: #ffffff;
    --dash-font: "Roboto";
    --container-background-color: #181818;
    --container-main-background-color: #252525; 
    --contianer-border-color: #2e2e2e;
    --header-background-color: #181818;
}

/* The sidebar menu */
.dash-sidenav {
    width: var(--side-nav-size);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--container-background-color);
    overflow-x: hidden;
    padding-top: 70px;
    font-family: var(--dash-font);
}

.dash-sidenav-content {
    text-align: left;
}

.dash-sidenav p {
    padding: 6px 8px 6px 16px;
    /* text-decoration: none; */
    font-size: 20px;
    display: block;
    color: #cacaca;
}

/* The navigation menu links */
.dash-sidenav a {
    padding: 10px 10px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #727272;
    display: block;
}

.dash-sidenav a span{
    padding-left: 10px;
}

/* When you mouse over the navigation links, change their colo */
.dash-sidenav a:hover {
    color: #adadad;
}

/* On smaller screens, where the height is less than 450px, change the style
of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .dash-sidenav {padding-top: 15px;}
    .dash-sidenav a {font-size: 18px;}
}


/* Style page content */
.dash-main {
    margin-left: var(--side-nav-size);
    background: var(--container-main-background-color);
    margin-top: 50px;
}

header span {
    color: rgb(131, 131, 131);
    font-family: var(--dash-font);
    padding-left: 10px;
}

header {
    background-color: var(--header-background-color);
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

header a {
    float: right;
}

.button {
    background-color: rgb(53, 53, 53);
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 4px;
    font-family: var(--dash-font);
}

.button:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}

.log-dropdown-button {
    background-color: #3b3b3b;
    cursor: pointer;
    color: white;
}

.dash-logout-button {
    background-color: #3b3b3b;
    cursor: pointer;
    color: white;
    padding: 10px;
    text-decoration: none;
    padding-right: 50px;
}

.btn {
    font-family: var(--dash-font);
}

.btn:hover {
    background-color: #474747;
}

.feed-buttons { 
    border-radius: 10px;
    margin-top: 0;
    margin-left: 0;
    color: rgb(255, 255, 255);
}

.logs-buttons { 
    background-color: #3b3b3b;
    cursor: pointer;
    color: white;
}

.mode-buttons {
    border-radius: 10px;
    margin-top: 0;
    margin-left: 0;
    color: rgb(255, 255, 255);
}

.dash-main .main-content {
    position: relative;
    padding: 0;
    margin: 0;
    height: 800px;
}

.main-content-robomode {
    border: var(--contianer-border-color) 2px solid;
    padding: 10px;
    margin-bottom: 20px;
}

.main-content-robomode button { 
    text-align: center;
}

.enter-manual-mode {
    background-color: #3b3b3b;
    cursor: pointer;
    color: white;
}

.main-content-robomode-button-container {
    padding:0;
}

.main-content-robomode h2 {
    border-bottom: var(--contianer-border-color) 0.5px solid;
    font-family: var(--dash-font);
    color: var(--font-color-dash);
}

.main-content-camera {
    height: 800px;
    border: var(--contianer-border-color) 2px solid;
    padding: 10px;
    padding-top: 0;
    margin-bottom: 10px;
}

.main-content-camera h2 {
    border-bottom: var(--contianer-border-color) 0.5px solid;
    font-family: var(--dash-font);
    color: var(--font-color-dash);
}

.camera-content-contain {
    height:100%;
}

.main-content-camera-feed {
    margin-right: 510px;
    height: 500px;
}

.camera-feed-child {
    font-family: var(--dash-font);
    color: var(--font-color-dash);
}

.camera-feed-child h4{
    padding: 0;
    height: 100%;
    width:70%;
}

.main-content-loggers {
    float: right;
    height: 500px;
}

.main-content-maps {
    height: 770px;
    border: var(--contianer-border-color) 2px solid;
    padding: 20px;
    padding-top: 0;
}

.gps-map {
    padding: 0;
}

.main-content-maps h2 {
    border-bottom: var(--contianer-border-color) 0.5px solid;
    font-family: var(--dash-font);
    color: var(--font-color-dash);
}

.camera-settings-container{
    border: var(--contianer-border-color) 2px solid;
    padding: 10px;
    margin-bottom: 20px;
}

.camera-settings-container h2{
    border-bottom: var(--contianer-border-color) 0.5px solid;
    font-family: var(--dash-font);
    color: var(--font-color-dash);
}
.camera-content-text {
    margin-left: 50px
}

.camera-content-text p{
    font-style: var(--dash-font);
    color: var(--font-color-dash);
}

.model-settings-container {
    border: var(--contianer-border-color) 2px solid;
    padding: 10px;
    height: 500px;
}

.mds-child {
    float:left;
    width:50%;
}

.model-settings-container h2{
    border-bottom: var(--contianer-border-color) 0.5px solid;
    font-family: var(--dash-font);
    color: var(--font-color-dash);
}

.model-settings-container h4{
    font-style: var(--dash-font);
    color: var(--font-color-dash);
    float: left;
    width: 20%;
}

.model-settings-container p{
    font-style: var(--dash-font);
    color: var(--font-color-dash);
    position: relative;
    padding: 0;
    margin: 0;
    width: 30%;
}