:root {
    --side-nav-size: 250px;
    --font-color: #818181;
    --dash-font: "Helvetica";
}

/* The sidebar menu */
.dash-sidenav {
    width: var(--side-nav-size);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: var(--dash-font);
}

.dash-sidenav-content {
    text-align: left;
}

.dash-sidenav p {
    padding: 6px 8px 6px 16px;
    /* text-decoration: none; */
    font-size: 20px;
    display: block;
    color: var(--font-color)
}

/* The navigation menu links */
.dash-sidenav a {
    padding: 10px 10px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color);
    display: block;
}

.dash-sidenav a span{
    padding-left: 10px;
}

/* When you mouse over the navigation links, change their colo */
.dash-sidenav a:hover {
    color: #adadad;
}

/* On smaller screens, where the height is less than 450px, change the style
of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .dash-sidenav {padding-top: 15px;}
    .dash-sidenav a {font-size: 18px;}
}

/* Style page content */
.dash-main {
    margin-left: var(--side-nav-size);
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    font-size: 3.5em;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    font-family: var(--dash-font);
    border-bottom: rgb(175, 175, 175) 2px solid;
}

.dash-logout {
    text-align: right;
    padding-right: 50px
}

.button {
    background-color: #111;
    border: none;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 4px;
    font-family: var(--dash-font);
}

.button:hover {
    background-color: #797979;
    cursor: pointer;
}

.dash-logout {
    border-radius: 20px;
}

.feed-buttons { 
    border-radius: 10px;
    background-color: rgb(206, 206, 206);
    margin-top: 0;
    margin-left: 0;
    color: #111;
}

.mode-buttons {
    border-radius: 10px;
    background-color: rgb(97, 89, 89);
    margin-top: 0;
    margin-left: 0;
    color: rgb(255, 255, 255);
}

.dash-main .main-content {
    position: relative;
    padding: 0;
    margin: 0;
    height: 800px;
}

.main-content-robomode {
    height: 100px;
    border: rgb(175, 175, 175) 2px solid;
    border-radius: 20px;
    padding: 20px;
}

.main-content-robomode h2 {
    border-bottom: rgb(175, 175, 175) 0.5px solid;
    font-family: var(--dash-font);
}

.main-content-camera {
    height: 800px;
    border: rgb(175, 175, 175) 2px solid;
    border-radius: 20px;
    padding: 20px;
}

.main-content-camera h2 {
    border-bottom: rgb(175, 175, 175) 0.5px solid;
    font-family: var(--dash-font);
}

.main-context-logs {
    /* background-color: rgb(20, 100, 100); */
    height: 100%;
}

.main-content-maps {
    position: relative;
    padding: 0;
    margin: 0;
    height: 800px;
    border: rgb(175, 175, 175) 2px solid;
    border-radius: 20px;
    padding: 20px;
}

.main-content-maps h2 {
    border-bottom: rgb(175, 175, 175) 0.5px solid;
    font-family: var(--dash-font);
}

.model-content-text {
    position: relative;
    padding: 0;
    margin: 0;
}

.camera-content-text {
    margin-left: 50px
}

.model-settings-container {
    border-top: rgb(173, 173, 173) solid 1px;
}

.model-content-text {
    margin-left: 50px
}

.model-context-text-heading {
    float: left;
    width: 20%;
}

.model-context-text-options {
    width: 30%;
    float: left;
}

.robot-main-container h2{
    font-family: var(--dash-font);
}

.robot-main-container p{
    font-family: var(--dash-font);
}

.robot-config-container {
    padding: 20px;
    border: rgb(175, 175, 175) 2px solid;
    border-radius: 20px;
    padding-top: 5px;
}

.robot-anatomy-container {
    padding: 20px;
    border: rgb(175, 175, 175) 2px solid;
    border-radius: 20px;
    padding-top: 5px;
}