* {
    font-family: 'Roboto', sans-serif;
}

.wc-body {
    background: white;
    height: 100%;
    position: relative;
    left:0;
    top: 0;
}

.wc-main-sheet {
    margin-left: 10%;
    margin-top: 7%;
    text-align: left;
}

.wc-main-text {
    color: rgb(0, 0, 0);
    font-size: 6rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 70%; 
}

.wc-login-container {
    text-align: right;
    padding-right: 70px;
}

h1 span {
    color: #3b3c9b;
}

.button {
    background-color: #3b3c9b;
    border: none;
    color: white;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 4px;
}

.wc-login-bttn {
    border-radius: 10px;
}